/*Footer*/

.footer {
  background-color: $primary-color;

  &-box-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  &-box {
    color: #fff;
    display: inline-block;
    font-size: 1.3em;
    margin: 0 1.5em;
  }

  &-info {
    margin: 0.5em 0;
    font-size: 1.3em;
  }
}

.hr {
  width: 80%;
  margin: 0 10%;
  color: #fff;
}

.copyright {
  color: #fffa;
  text-align: center;
  padding: 1em;
  background-color: #0003;
  margin: 0;
}
