/*Main*/

.main {
  position: relative;
  overflow: hidden;
  background-image: map-get($bg-img, main-balls);
  animation: wave-line 100s linear normal infinite;
  z-index: 0;

  &::before,
  &::after {
    @include pseudo-element;
    width: 100%;
    height: 6.5vh;
    background-image: map-get($bg-img, main-wave);
  }

  &::before {
    bottom: 1vh;
    left: -50%;
    animation: wave-b 5s linear alternate infinite;
    filter: drop-shadow(0 -0.3em 0 $title-color);
  }

  &::after {
    bottom: -1px;
    left: 0;
    animation: wave-a 10s linear alternate infinite;
    filter: drop-shadow(0 -0.3em 0 $title-color);
  }
}

@keyframes wave-line {
  0% {
    background-position: 0% 0%;
    box-shadow: inset 0 10em 100em 100em $bg-color;
  }

  1% {
    box-shadow: inset 0 10em 10em 10em $bg-color;
  }

  99% {
    box-shadow: inset 0 10em 10em 10em $bg-color;
  }

  100% {
    background-position: 1000% 0%;
    box-shadow: inset 0 10em 100em 100em $bg-color;
  }
}

.subtitle {
  width: 100%;
  text-align: center;
  color: $title-color;
  font-size: 3em;
  padding: 0.2em 0;
  margin: 0 0 1em;
  background-color: $secondary-color;
  border-bottom-left-radius: 10em;
  border-top-right-radius: 10em;
  background-image: map-get($bg-img, subtitle);
  background-attachment: fixed;
  background-size: 10%;
  box-shadow: 0 0 0 0 #000;

  &-index {
    margin: 2em 0 1em;
  }
}
