/*products*/

.table {
  width: 100%;
  font-size: 1.5em;
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  margin: 1em 0;
}

td {
  border: 1px solid #ddd;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 5%;
  }
}

@keyframes td {
  from {
    width: 100%;
  }

  to {
    width: 1%;
  }
}

@for $i from 1 through 19 {
  tr:nth-child(#{$i}) &::after {
    animation: td 1s linear normal;
    animation-delay: $i * 0.1s;
    animation-fill-mode: forwards;
  }
}
